@use '@/scss/_shared' as *;

.detailContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: get-spacing('spacing-3xl');
  padding: rem-calc(222) 0 rem-calc(40);

  @include md {
    gap: get-spacing('spacing-6xl');
    padding: rem-calc(412) 0 rem-calc(149);
  }

  .background {
    position: absolute;
    inset: 0;
    z-index: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: rem-calc(345);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include md {
      height: 100vh;
      filter: brightness(0.74);
    }
  }

  .gradientOverlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      transparent 100%
    );
  }
}

.detailCard,
.overview,
.castAndCrew {
  position: relative;
  z-index: 1;
}

.detailCard {
  display: flex;
  flex-direction: column;
  gap: get-spacing('spacing-3xl');

  @include md {
    flex-direction: row;
    gap: 0;
  }

  .top {
    display: flex;
    gap: get-spacing('spacing-xl');
    width: 100%;

    @include md {
      gap: get-spacing('spacing-4xl');
    }

    .poster {
      width: rem-calc(116);
      height: rem-calc(171);
      border-radius: get-radius('radius-xl');
      overflow: hidden;
      flex-shrink: 0;
      object-fit: cover;

      @include md {
        width: rem-calc(260);
        height: rem-calc(384);
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: get-spacing('spacing-xs');
      color: get-color('neutral', 25);

      @include md {
        display: none;
      }

      .title {
        @include typography('text-xl', 'bold');
      }
      .date {
        display: flex;
        align-items: center;
        gap: get-spacing('spacing-xs');
        .icon {
          width: rem-calc(20);
          height: rem-calc(20);
        }
        .releaseDate {
          @include typography('text-sm', 'regular');
        }
      }
    }

    .cardContent {
      display: none;

      @include md {
        display: flex;
        flex-direction: column;
        gap: get-spacing('spacing-3xl');
        width: 100%;

        .info {
          display: flex;
          flex-direction: column;
          gap: get-spacing('spacing-xl');
          color: get-color('neutral', 25);

          .title {
            @include typography('display-xl', 'bold');
          }
          .date {
            display: flex;
            align-items: center;
            gap: get-spacing('spacing-md');
            .icon {
              width: rem-calc(24);
              height: rem-calc(24);
            }
            .releaseDate {
              @include typography('text-md', 'regular');
            }
          }
        }

        .ctaButton {
          display: flex;
          gap: get-spacing('spacing-xl');
          width: rem-calc(288);

          .favoriteButtonWrapper {
            button {
              width: rem-calc(52);
              padding: 0;
              border: 1px solid get-color('neutral', 900);

              .heartIcon {
                width: rem-calc(24);
                height: rem-calc(24);
              }
              &.active .heartIcon {
                fill: #e41d02;
                transform: scale(1.1);
              }
            }
          }
        }

        .metaCards {
          display: flex;
          gap: get-spacing('spacing-2xl');

          & > * {
            min-height: rem-calc(180);
            align-items: stretch;
          }
        }
      }
    }
  }

  .ctaButton {
    display: flex;
    gap: get-spacing('spacing-xl');
    @include md {
      display: none;
    }

    .favoriteButtonWrapper {
      button {
        width: rem-calc(44);
        padding: 0;
        border: 1px solid get-color('neutral', 900);

        .heartIcon {
          width: rem-calc(18.86);
          height: rem-calc(18.86);
          @include md {
            width: rem-calc(24);
            height: rem-calc(24);
          }
        }
        &.active .heartIcon {
          fill: #e41d02;
          transform: scale(1.1);
        }
      }
    }
  }

  .metaCards {
    display: flex;
    gap: get-spacing('spacing-lg');
    @include md {
      display: none;
    }
  }
}

.overview {
  display: flex;
  flex-direction: column;
  gap: get-spacing('spacing-md');
  margin-top: clamp(16px, 4vw, 56px);

  .overviewTitle {
    color: get-color('neutral', 25);
    @include typography('text-xl', 'bold');
    @include md {
      @include typography('display-md', 'bold');
    }
  }
  .overviewText {
    color: get-color('neutral', 400);
    @include typography('text-sm', 'regular');
    @include md {
      @include typography('text-md', 'regular');
    }
  }
}

.casters {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: get-spacing('spacing-xl');

  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: get-spacing('spacing-7xl');
    row-gap: get-spacing('spacing-3xl');
  }
}

.casters > * {
  width: 100%;
}
