@use '@/scss/_shared' as *;

@use '@/scss/_shared' as *;
.container {
  /* mobile */
  width: min(1120px, 100% - 2rem); /* 100% minus 32px */
  margin-inline: auto;
  padding-inline: 1rem; /* 16px */

  @media (min-width: 768px) {
    width: min(1120px, 100% - 4rem); /* 100% minus 64px */
    padding-inline: 1.5rem; /* 24px */
  }
}
