.searchBar {
  display: flex;
  align-items: center;
  gap: rem-calc(8);
  width: rem-calc(243);
  height: rem-calc(44);
  padding: 0 rem-calc(16);
  border-radius: get-radius('radius-xl');
  border: 1px solid transparent;
  background-color: rgba(10, 13, 18, 0.7);
  transition: border 0.3s ease, background-color 0.3s ease;

  @include md {
    width: rem-calc(300);
    height: rem-calc(56);
    border-radius: get-radius('radius-2xl');
  }

  &.focused,
  &.hasValue {
    border-color: #e41d02;
    background-color: rgba(20, 20, 20, 0.85);
  }

  &.fullWidth {
    width: 100%;
    max-width: none;
  }
}

.searchInputContainer {
  display: flex;
  align-items: center;
  gap: rem-calc(8);
  width: 100%;

  .searchIconWrapper {
    display: flex;
    align-items: center;

    .searchIcon {
      width: rem-calc(20);
      height: rem-calc(20);
      // fill: white;
      opacity: 0.8;

      @include md {
        width: rem-calc(24);
        height: rem-calc(24);
      }
    }
  }

  .searchInput {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    @include typography('text-sm', 'regular');

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: get-color('neutral', 400);
      opacity: 0.7;
      @include typography('text-sm', 'regular');

      @include md {
        @include typography('text-md', 'regular');
      }
    }
  }

  .clearButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;

    @include md {
      width: rem-calc(32);
      height: rem-calc(32);
      border-radius: 50%;
      transition: background-color 0.2s ease;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .clearIcon {
      width: rem-calc(16);
      height: rem-calc(16);

      @include md {
        width: rem-calc(20);
        height: rem-calc(20);
      }
    }
  }
}
