@use "@/scss/_shared" as *;


.wrapper {
  position: fixed;
  right: rem-calc(16); // Mobile
  bottom: rem-calc(24);
  z-index: 3000;

  @include md {
    right: rem-calc(270); // Sedikit lebih ke dalam di desktop
    bottom: rem-calc(56);
  }

  button {
    width: rem-calc(64);
    height: rem-calc(64);
    border-radius: 50%;
    padding: rem-calc(12);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: rem-calc(24);
      height: rem-calc(24);
    }
  }
}

.iconUp {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.iconDown {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}
