/* src/scss/app-layout.scss */

html,
body,
#root {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  background: inherit; /* ikut warna body */
}

.main-content {
  flex: 1 0 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  background: transparent;
}

.center-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

footer {
  margin-top: auto;
  width: 100%;
}
