$white: #ffffff;
$black: #000000;
$colors: (
  'neutral': (
    25: #ffffff,
    50: #fafafa,
    100: #f5f5f5,
    200: #e9eaeb,
    300: #d5d7da,
    400: #a4a7ae,
    500: #717680,
    600: #535862,
    700: #414651,
    800: #252b37,
    900: #181d27,
    950: #0a0d12,
  ),
  'primary': (
    100: #ead0cc,
    200: #b96155,
    300: #961200,
    400: #640c00,
  ),
  'base': (
    'white': #ffffff,
    'black': #000000,
  ),
);
